---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold text-center mb-6">Historia</h1>
    <p class="mb-4 text-lg">
      La historia de The Last Stand se desarrolla en un mundo post-apocalíptico
      invadido por zombis. Los jugadores deben defenderse contra hordas de
      no-muertos utilizando una variedad de armas y estrategias.
    </p>
    <p class="mb-4 text-lg">
      El juego comenzó como un proyecto indie y ha evolucionado a través de varias
      versiones, incluyendo expansiones y actualizaciones que añaden nuevos
      elementos de jugabilidad.
    </p>
  </div>
</Layout>
