---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<header>
		<section>
			<p>ASTROLOGY</p>
			<p>
				explora el plano cósmico de tu alma. Perspectivas seleccionadas
				sobre los movimientos de los cuerpos celestes y su profunda
				influencia en tu viaje terrestre</p>

				<button>EMPEZAR</button>

			<img src="" alt="" />
			
		</section>
	</header>
</Layout>
