---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p>ASTROLOGY</p>
			<p>
				explora el plano cósmico de tu alma. Perspectivas seleccionadas
				sobre los movimientos de los cuerpos celestes y su profunda
				influencia en tu viaje terrestre
			</p>

			<button>EMPEZAR</button>
		</div>

		<img src="" alt="" />
	</section>

	<section>
		<div>
			<img src="" alt="" />
		</div>
		<div>
			<p>Predicciones</p>
			<p>
				Explora como los transitos planetarios influyen en tu energia
				diaria.
			</p>

			<button>Explorar</button>
		</div>
	</section>

	<section>
		<div>
			<p> Mapa natal</p>
			<
				>Descubre como la posicion de los planeta pueden servir como
				brujula de navegacio</p
			>

			<button>Explorar</button>
		</div>

		<div>
			<img src="" alt="" />
		</div>
	</section>

	<section>
		<div>
			<img src="" alt="" />
		</div>
		<div>
			<p>Sinastria</p>
			<p>
				Comprende como tu carta natal interactua con los demas, tus
				fortalezas y relaciones Karmicas
			</p>
			<button> Explorar </button>
		</div>
	</section>

	<section>
		<div>
			<p>Ciclos Lunares</p>
			<p>
				Conoce las proximas lunas nuevas y conoce la energia de cada
				fase
			</p>

			<button> Explorar</button>
		</div>

		<div>
			<img src="" alt="" />
		</div>
	</section>

	<section>
		<div>
			<img src="" alt="" />
		</div>
		<div>
			<p>Paletas de sincronia con dus vibes</p>
			<p>
				Seccion de tonos diseñados para armonizar tu espacio y elevar tu
				frecuencia
			</p>
		</div>

		<div><img src="" alt="" /></div>

		<div><img src="" alt="" /></div>
		<div><img src="" alt="" /></div>
		<div><img src="" alt="" /></div>
	</section>
</Layout>
