---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section>
		<div>
			<p class="font-semibold text-gray-200">ASTROLOGY</p>
			<p class="flex gap-4 text-gray-200">
				Explora el plano cósmico de tu alma. Perspectivas seleccionadas
				sobre los movimientos de los cuerpos celestes y su profunda
				influencia en tu viaje terrestre
			</p> 

			<button class="font-bold bg-amber-50 text-blue-900 px-1.5 py-2 rounded-4xl gap-4">EMPEZAR</button>
		</div>

		<img src="/La constelación de Libra, la balanza de la Justicia - WeMystic.jpg" alt="descripcion" />
	</section>

	<section>
		<div>
			<img src="/Your weekly horoscope_ The Winter Solstice and Great Conjunction mark a pivotal time for us all.jpg" alt="" />
		</div>
		<div>
			<p>Predicciones</p>
			<p>Explora como los transitos planetarios influyen en tu energia
				diaria.</p>

			<button class="font-bold bg-amber-50 text-blue-900 px-1.5 py-2 rounded-4xl">Explorar</button>

		</div>
	</section>

	<section>
		<div>
			<p>Mapa natal</p>
			<p>Descubre como la posicion de los planeta pueden servir como brujula
			de navegacio</p>
		</div>

		<button  class="font-bold bg-amber-50 text-blue-900 px-1.5 py-2">Explorar</button>
	</section>

	<div>
		<img src="/descarga.jpg" alt="cartanatal" />
	</div>
	<section>
		<div>
			<img src="/descarga (1).jpg" alt="sinastria" />
		</div>
		<div>
			<p>Sinastria</p>
			<p>Comprende como tu carta natal interactua con los demas, tus
				fortalezas y relaciones Karmicas</p>
			<button class="font-bold bg-amber-50 text-blue-900"> Explorar </button>
		</div>
	</section>
	
	<section>
		<div>
			<p>Ciclos Lunares</p>
			<p>Conoce las proximas lunas nuevas y conoce la energia de cada fase</p>
	
			<button class="font-bold bg-amber-50 text-blue-900 px-1.5 py-2"> Explorar</button>
		</div>
		<div>
			<img src="/descarga (2).jpg" alt="faseslunares" />
		</div>
	</section>
	
	<section>
		<div>
			<img src="/Feng Shui Bagua Térkép.jpg" alt="idk">
		</div>
		<div>
			<p>Paletas de sincronia con dus vibes</p>
			<p>Seccion de tonos diseñados para armonizar tu espacio y elevar tu
				frecuencia</p>
		</div>
	
		<div><img src="/descarga (4).jpg" alt="tonos" /></div>
	
		<div><img src="/water lily pond _ color palette.jpg" alt="primavera" /></div>
		<div><img src="/colour palette  ♡  O22.jpg" alt="red" /></div>
		<div><img src="/colour palette  ♡  O32.jpg" alt="beige" /></div>
	</section>
</Layout>

