---
import Boton from "../components/Boton.astro";
import Clasificacion from "../components/Clasificacion.astro";
import Tarjeta from "../components/Tarjeta.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const tarjetas = [
	{
		title: "Carta Natal",
		imagenes: "/descarga.jpg",
		subtitulos: "Descubre tu mapa astral personalizado"
	},
	{
		title: "Sinastria",
		imagenes: "/descarga (1).jpg",
		subtitulos: "Explora la compatibilidad entre cartas natales"
	},
	{
		title: "Ciclos Lunares",
		imagenes: "/descarga (2).jpg",
		subtitulos: "Conoce las fases de la luna y su influencia"
	}
]
---

<Layout>

	<section class="flex flex-col lg:flex-row justify-center items-center px-12 gap-12">
		<div class="flex flex-col gap-5 max-w-xl">
			<p class="text-[#ffff] text-7xl font-serif">
				The fate of your <span class="text-amber-400 italic">stars</span
				> revealed
			</p>
			<p class="flex gap-64 text-gray-300 text-lg">
				Explora el plano cósmico de tu alma. Perspectivas seleccionadas
				sobre los movimientos de los cuerpos celestes y su profunda
				influencia en tu viaje terrestre
			</p>

			<button
				class="font-bold bg-amber-500 text-blue-950 px-2 py-1 rounded"
				>GET STARTED</button
			>
			
		</div>

		<img
			class="shadow-blue-500 rounded-full w-xl"
			src="/La constelación de Libra, la balanza de la Justicia - WeMystic.jpg"
			alt="descripcion"
		/>
	</section>

	<section class="flex-1 justify-items-center-safe px-12 py-16">
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
			{ tarjetas.map(tarjeta => (
				<Tarjeta
					title={tarjeta.title}
					imagenes={tarjeta.imagenes}
					subtitulos={tarjeta.subtitulos}
				/>
			)) }
		</div>
	</section>

	<section>
		<div class="px-12 py-62 relative">
			<img src="/descarga (2).jpg" class="absolute object-cover w-full h-full top-0 left-0 -z-10" alt="">
			<p class="font-serif text-4xl  text-center">Explore the  twelve house of destiny</p>
			
		</div>

		<!-- <div class="grid grid-cols-8">
			<Clasificacion 
				logo="lupa"
				nombre="Lorem"
			/>
			<Clasificacion 
				logo="lupa"
				nombre="ipsum"
			/>
			<Clasificacion 
				logo="lupa"
				nombre="Liss"
			/>
			<Clasificacion 
				logo="lupa"
				nombre="Intel"
			/>
			<Clasificacion 
				logo="lupa"
				nombre="Programacion"
			/>
			
		</div> -->

	
		
	

	
	</section>
</Layout>
