---
import { Icon } from "astro-icon/components"

const logo = Astro.props.logo
const nombre = Astro.props.nombre
---

<div class="flex-1 flex px-5 py-8 flex-col items-center gap-5 justify-center text-center">
    <div>
        <Icon name={logo} />
    </div>
    <p>{nombre}</p>
</div>