---
const title = Astro.props.title
const imagenes = Astro.props.imagenes
const subtitulos = Astro.props.subtitulos
---
<div>
    <img src={imagenes} alt=""width={300} height="200" >
    <p>{title}</p>
    <p class="font-bold text-3xl">Predicciones {subtitulos}</p>
</div>
