---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astrologia</title>
	</head>
	<body class="bg-[#01050f] text-white">

		<header class="flex justify-between items-center py-6 px-4">
			<div class="flex gap-2 items-center">
				<Icon name="simple-icons--saturn" size={24} />


				<p class="text-lg font-semibold">CELESTIAL</p>
			</div>
			

			<div class="flex gap-7">
				<div class="flex gap-4 text-gray-200">
					<a href="">inicio</a>
					<a href="">datos</a>
					<a href="">zodiac</a>
				</div>

			</div>
			
			<button class="bg-blue-50 text-2xl px-8 py-0.5 text-blue-900 font-bold rounded-4xl">consult</button>
		</header>


		<slot />
	</body>
</html>
