---
import { Icon } from "astro-icon/components";
import "../styles/global.css";

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astrologia</title>
	</head>
	<body>
		<header>
			<div>
				<Icon name="simple-icons--saturn" />


				<p>celestial</p>
			</div>

			<div>
				<div>
					<a href="">inio</a>
					<a href="">datos</a>
					<a href="">zodiac</a>
				</div>

				<button>consult</button>
			</div>

			<slot />
		</header>
	</body>

	<style>
		html,
		body {
			margin: 0;
			width: 100%;
			height: 100%;
		}
	</style>
</html>
