---
import { Icon } from "astro-icon/components";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astrologia</title>
	</head>
	<body class="bg-[#05183c] text-white">
		<header class="flex justify-between items-center py-6 px-4">
			<div class="flex gap-2 items-center text-amber-300">
				<Icon name="simple-icons--saturn" size={40} />

				<p class="text-xl font-semibold font-serif italic">CELESTIAL</p>
			</div>

			<div class="flex gap-3.5">
				<div class="flex gap-4 text-gray-400 font-serif uppercase">
					<nav>
						<a
							class="text-lg"
							href="/astrologia" >inicio</a>
					
					

					<a class="text-lg" href="/historia">datos</a>
					<a class="text-lg" href="/carta-natal">zodiac</a>
			</nav>

				</div>
			</div>

			<div class="flex px-0.5 py-1 flex gap-7 text-amber-300">
				<Icon name="lupa" size={25} />
				<Icon name="mdi--user" size={25} />
			</div>
		</header>

		<slot />
	</body>
</html>
